:root {
  --primary-color: #111111;
  --secondary-color: #222222;
  --acent-strong-color: #f95959;
  --acent-soft-color: #e3e3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: var(--secondary-color)
}

button {
  background: var(--primary-color);
  border: none;

  color: var(--acent-soft-color);

  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
}

button:hover {
  background: var(--secondary-color);
  color: var(--acent-strong-color);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;

  padding-left: 10px;
  padding-right: 10px;

  background: var(--primary-color);
}

#app {
  display: flex;
  flex-direction: row;
  gap: 5px
}

