:root {
  --primary-color: #233142;
  --secondary-color: #455d7a;
  --acent-strong-color: #f95959;
  --acent-soft-color: #e3e3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #455d7a;
}

button {
  background: #233142;
  border: none;

  color:#e3e3e3;

  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 15px;
  padding-right: 5px;
}

button:hover {
  background: #455d7a;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;

  padding-left: 10px;
  padding-right: 10px;

  background: #233142;
}

#app {
  display: flex;
  flex-direction: row;
  gap: 5px
}

